<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irfanirawansukirman.chat">

    <application>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"/>
    </application>

</manifest>